

<%= @verse.verse_no %>
<div class="col-md-12 verse-box" id="verse-box">
		    <div class="pull-right study-toolbar"><i class="col-md-4 fa fa-microphone"></i>
		    <i class="col-md-4 fa fa-bars"></i><i class="col-md-4 fa fa-files-o"></i>
			</div><!--ENDS study-toolbar -->
			<p>
			<%= html_escape(@verse.verse_text).gsub(/(?:\\n?|\n\n?)/, '').html_safe %>
			</p>
	</div>


<div class="row col-md-12  col-md-offset-4">

<p>
<audio controls>
  <source src ="http://cloud.faithcomesbyhearing.com/mp3audiobibles2/<%=  @chapter.audio_url%>">
</audio>
</p>
Verse Start Timing:
<%= @verse.audio_time %>
<br/>
Verse End Timing:
<%= @end_time %>
</div>