<script>
            $(document).ready(function(){


                    //for reading the id
              $('.ad').click(function() {
                  var id = $(this).attr('id');
                  //alert(id);
                  //play audio
                   var audioElement = document.createElement('audio');
                    var no = (id < 10 ? "0" : "") + id;
                        audioElement.setAttribute('src', '/sound/ENG/b'+no+'.mp3');
                        audioElement.setAttribute('autoplay', 'autoplay');
                        audioElement.addEventListener("load", function() {
                        audioElement.play();
                }, true);
                audioElement.play();

                  //END to play audio
                 // $container.cycle(id.replace('pager_', ''));
                  return false;
              });
              //END for reading the id

              $('.ad').click(function() {
              //alert('d');
                var id = $(this).attr('id');
                //alert(id);
                $('select[name="bookslist"] option[value='+id+']').attr("selected","selected");
                //$('select[name="bookslist"] option:selected').attr("selected",null);
                //$("select[name="bookslist").selectmenu('refresh');
            });


        }); //End document
</script>



   <div class="sel-size center"><!--Drop Downs start -->
      <%= select_tag :book, options_for_select(@books_array.collect(&:book_sid)) %>
      Chap
      <%= select_tag :chapter, options_for_select((1..28)) %>
      V
      <%= select_tag :verse, options_for_select((1..25)) %>
       <a href="/books/listen" class="button-bg-small  submit"><i class=" fa fa-play"></i></a>
    </div>

    <div class="col-md-4 col-xs-12   col-md-offset-4 main-panel books-list">
    <% @books_array.each do |book| %>
      <div class="col-md-12 col-sm-4 col-xs-4 chapter-btn ad" id="<%=book.book_no%>" book_sid="<%= book.book_sid %>">
      <h6><%= book.book_sid %></h6>
      </div>
    <% end %>
    </div>


  </div>
    <div class="col-md-12  play-controls1 col-md-offset-5"> <!--Not alligned -->

    <div class="center button-bg submit"><i class=" fa fa-play"></i>
  </div>
